html, body{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.msg{
    margin: 1rem;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

.player-grid, .opponent-grid{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 4px;
    margin: 0;
    width: 440px;
    background-color: lightgray;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10%;
    flex:1;
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 10%;
}

.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.cell{
    background-color: blue;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.cell:hover{
    background-color: cyan;
    transform: scale(1.1);
}